<div class="container mt-5">
    <h1 class="text-center">รายชื่อสมาชิกกลุ่ม</h1>
    <div class="row mt-5 text-center">
        <div class="col-3">
            <div class="card" style="width: 18rem;">
                <img src="assets/Image/Slide/GUIDE.jpg" class="card-img-top" style="height: 290px;" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">นายธนวัฒน์ ฉิมพสูตร์</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card" style="width: 18rem;">
                <img src="assets/Image/Slide/PED.jpg" class="card-img-top" style="height: 290px;" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">นางสาววาริพินท์ ปิ่นสอน</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card" style="width: 18rem;">
                <img src="assets/image/pic2.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">นายณพวุฒิ เพ็ชรเจริญ</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card" style="width: 18rem;">
                <img src="assets/image/pic1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">นางสาววาริพินท์ ปิ่นสอน</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
</div>